#passfield
{
  position:absolute;
  background-color: white;
  margin-left: 60%;
  margin-top: 10%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

#passfull
{
  height: 710.5px;
  padding: 1px;
}

#formtitle
{
  position: absolute;
  margin-left: 60%;
  margin-top: 7%;
  color: #00274C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#massbody
{
  background-color: #d9d9d9;
}

#passicon
{
  color: red;
  font-size: 50px;
}

#goback
{
  color:#d9d9d9;
  font-size: 60px;
  position:absolute;
  cursor: pointer;
}

#goback:hover
{
  color:#00274C;
}

.outstyle
{
  border: red 1px solid;
}

#gifed
{
  position: absolute;
  margin-top: 8%;
  margin-left: 5%;
  height:60% ;
  width: 40%;
}

#updatepass
{
    width: max-content;
}
