.notis
{
  position: absolute;
  height: 60%;
  width: 30%;
  right: 0;
  top: 0;
  margin-top: 4.6%;
  margin-right: 5%;
  background-color:white;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

.notis::-webkit-scrollbar
{
  display: none;
}

.notis>h2{
  margin-left: 15px;
  color: #0079FF;
}

.notis>hr{
  color: #F7FFE5;
  margin-top: -8px;
}
