@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.users,
.property,
.agents,
.aboutus {
  display: flex;
  height: 90vh;
}

.card {
  height: 300px;
  color: white;
}

.right-nav {
  text-align: right;
}

.container-fluid {
  display: inline-block;
}