.profile1
{
  width: 25%;
  background-color:#003153;
  border-radius: 2px;
  text-align: center;
}


.fullprofile
{
  display: flex;
  height: 100%;
  overflow: auto;
}

.profile2
{
  background-color:#d9d9d9;
  width:75%;
  border-radius: 2px;
}

.profile2::-webkit-scrollbar
{
  display: none;
}

#dpfor1
{
  height: 35%;
  width: 50%;
  margin-left: 20%;
  margin-top: 20%;
  border-radius: 4px;
  border: 5px solid #d9d9d9 ;
}


#mf
{
  width: 175px;
  font-size: 17px;
  background-color: transparent;
}

#fgopt,#mgopt,#ogopt
{
  width: 175px;
  cursor: pointer;
  font-size: 20px;
}

#fgopt:hover,#mgopt:hover,#ogopt:hover{
  background-color: #00274C;
  color: white;
}

#chngimg
{
  background-color: darkslategray;
  margin-left: -5%;
  overflow: hidden;
}

/* #chngimg input[type="file"]
{
  left: 2px;
  top: 0;
  position: absolute;
  opacity: 0;
} */

#daac
{
  top: 180px;
  background-color: brown;
  margin-right: 6%;
}

#pwdroute
{
  top: 130px;
  margin-right: 6%;
  background-color:black;
  padding: 12px;
  border-radius: 5px;
}

#pwdroute1
{
  color: white;
  text-decoration: none;
}

#title-head
{
  margin-top: 3%;
  position: absolute;
  margin-left: 6%;
}

/* settings */

.field
{
  padding: 20px;
  background-color: rgba(250, 235, 215, 0.824);
  border-radius: 5px;
  margin:8%;
}

/* password page  */

#passfield
{
  position:absolute;
  background-color: white;
  margin-left: 60%;
  margin-top: 10%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

#passfull
{
  height: 710.5px;
  padding: 1px;
}

#formtitle
{
  position: absolute;
  margin-left: 60%;
  margin-top: 7%;
  color: #00274C;
}

#massbody
{
  background-color: #d9d9d9;
}

#passicon
{
  color: red;
  font-size: 50px;
}

#goback
{
  color:#d9d9d9;
  font-size: 60px;
  position:absolute;
  cursor: pointer;
}

#goback:hover
{
  color:#00274C;
}

.outstyle
{
  border: red 1px solid;
}

#gifed
{
  position: absolute;
  margin-top: 6%;
}

/* notification */

#noticon
{
  font-size:30px ;
  margin-top: 2%;
  margin-left: 70%;
  position: absolute;
  cursor: pointer;
}

.notis
{
  position: absolute;
  height: 60%;
  width: 30%;
  right: 0;
  top: 0;
  margin-top: 4.6%;
  margin-right: 5%;
  background-color:white;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

.notis::-webkit-scrollbar
{
  display: none;
}

.notis>h2{
  margin-left: 15px;
  color: #0079FF;
}

.notis>hr{
  color: #F7FFE5;
  margin-top: -8px;
}

#nd1
{
  display: flex;
  justify-content: space-evenly;
  margin-left: 5px;
  align-items: start;
  padding: 5px;
  border-radius: 4px;
  /* background-color: #d9d9d9; */
  /* position: absolute; */
  width: 92%;
}

.avatar
{
  height: 40px;
  width: 40px;
  border-radius: 1px;

}
.notification {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px;
}



.content {
  margin-left: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.cancel-symbol {
  position: absolute;
  margin-left: 90%;
  margin-top: -3.5%;
  color: red;
  font-size:x-large;
  cursor: pointer;
}
